<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Only Office</title>
    <link rel="stylesheet" href="layui/css/layui.css">
</head>
<body>
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-md12">
                <button type="button" class="layui-btn" id="test1">
                    <i class="layui-icon">&#xe67c;</i>上传文件
                </button>
            </div>
            <div class="layui-col-md12">
                <table class="layui-table" lay-data="{width: 892, height:630, url:'/file/list', page:false, id:'idTest'}" lay-filter="demo">
                    <thead>
                    <tr>
                        <th lay-data="{field:'fileName', width:200, sort: true, fixed: true}">文件名</th>
                        <th lay-data="{field:'createTime', width:200}">创建时间</th>
                        <th lay-data="{field:'editUrl', width:200, sort: true}">地址</th>
                        <th lay-data="{fixed: 'right', width:178, align:'center', toolbar: '#barDemo'}"></th>
                    </tr>
                    </thead>
                </table>

            </div>
            <div class="layui-col-md12">
                <a target="_blank" href="file/edit?fileExt=docx" class="layui-btn">新建一个Document</a>
                <a target="_blank" href="file/edit?fileExt=xlsx" class="layui-btn">新建一个Spreadsheet</a>
                <a target="_blank" href="file/edit?fileExt=pptx" class="layui-btn">新建一个Presentation</a>
            </div>
        </div>

    </div>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script src="layui/layui.all.js"></script>
    <script src="layui/lay/modules/layer.js"></script>
    <script>
        var upload = layui.upload;
        var layer = layui.layer;
        var table = layui.table;
        //执行实例
        var uploadInst = upload.render({
            elem: '#test1' //绑定元素
            ,url: '/file/upload' //上传接口
            ,accept: 'file'
            ,done: function(res){
                //上传完毕回调
                console.log("文件上传结果",res);
                if (res.error){
                    layer.msg('上传失败：' + res.error);
                }else {
                    layer.msg('上传成功');
                }
            }
            ,error: function(){
                //请求异常回调
                layer.msg('上传失败，接口调用错误');
            }
        });

        //监听工具条
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                layer.msg('ID：'+ data.fileName + ' 的查看操作');
            } else if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.alert('编辑行：<br>'+ JSON.stringify(data))
            }
        });

        table.render({
            elem: '#demo'
            ,url: ''
            ,response: {
                statusCode: 200 //规定成功的状态码，默认：0
                ,msgName: 'hint' //规定状态信息的字段名称，默认：msg
                ,countName: 'count' //规定数据总数的字段名称，默认：count
                ,dataName: 'data' //规定数据列表的字段名称，默认：data
            }
            //,…… //其他参数
        });

    </script>
</body>
</html>